<%= form_for @txtalert, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :time_alert, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_alert, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contents, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :contents, :class => 'text_field' %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_sms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_sms, :class => 'text_field' %>
    </div>
  </div>
  

  <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
