<%= form_for(@txtalert) do |f| %>
  <% if @txtalert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@txtalert.errors.count, "error") %> prohibited this txtalert from being saved:</h2>

      <ul>
      <% @txtalert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_alert %><br>
    <%= f.text_field :time_alert %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_field :contents %>
  </div>
  <div class="field">
    <%= f.label :to_sms %><br>
    <%= f.text_field :to_sms %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :msg_sent %><br>
    <%= f.text_field :msg_sent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
