<% if @txtalert.user_id == current_user.id %>

  <strong>Time alert:</strong>
  <%= @txtalert.time_alert %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @txtalert.contents %>
</p>

<p>
  <strong>To sms:</strong>
  <%= @txtalert.to_sms %>
</p>


<%= link_to 'Edit', edit_txtalert_path(@txtalert) %> |
<%= link_to 'Back', txtalerts_path %>
<% else %>
<strong> You do not have access to this page <strong>
<% end %>