<h2 class ="fancy">Edit <%= resource_name.to_s.humanize %></h2>
<br>
<br>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div> <span class="fancy"> <%= f.label :email %> </span>
  <%= f.email_field :email, :class => "register-size" %></div>

  <div> <span class="fancy"><%= f.label :timezone%></span>
  <%= f.select :timezone, ActiveSupport::TimeZone.all { |z| [z.name, z.utc_offset / 1.hour] }, {},
    :class => "register-size" %> </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div> <span class="fancy"><%= f.label :password %></span> 
  <i class= "fancy">(leave blank if you don't want to change it)</i><br />
   <%= f.password_field :password, :class => "register-size", :placeholder => "Password"  %></div>

  <div> <span class="fancy"><%= f.label :password_confirmation %><br> </span>
  <%= f.password_field :password_confirmation, :class => "register-size", :placeholder => "Confirm Password"  %></div>

  <div> <span class="fancy"><%= f.label :current_password %></span>
   <i class= "fancy">(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, :class => "register-size", :placeholder => "Current Password"%></div>
  <br>

   <div><%= f.submit 'Update', :class => "btn btn-inverse btn-large butmain" %></div>
<% end %>
<br>
<br>
<br>
<br>

<p>Unhappy? 
<%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>


