<% if user_signed_in? %>
<body>

<div class="container">
 
<!-------->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();

        $('#time_alert').datetimepicker({
  timeFormat: 'HH:mm z',
  timezone: 'MT',
  timezoneList: [ 
      { value: 'ET', label: 'Eastern'}, 
      { value: 'CT', label: 'Central' }, 
      { value: 'MT', label: 'Mountain' }, 
      { value: 'PT', label: 'Pacific' } 
    ]
});
        });
</script> 

<script type="text/javascript">
$().ready(function() {

$("#datepicker").datetimepicker({

  onSelect: function(dateText, inst) { 
    $("#datepicker_value").val(dateText);
  }
});
});

$().ready(function() {

$("#txtdatepicker").datetimepicker({
  onSelect: function(dateText, inst) { 
    $("#txtdatepicker_value").val(dateText);
  }
});

});
</script>

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#email" data-toggle="tab">Email</a></li>
        <li><a href="#sms" data-toggle="tab">SMS</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="email">
            <h1>Email</h1>
            <%= form_for @alert, :html => { :class => 'form-horizontal' } do |f| %>
              <div class="control-group">
                <div class="controls">
                  <div id="datepicker"></div><br>
                  <%= f.text_field :time_alert, :id => 'datepicker_value' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :contents, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :contents, :class => 'text_field' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :to_email, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :to_email, :class => 'text_field' %>
                </div>
              </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :msg_sent, :value => 'f' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success btn-large butmain' %>
  </div>
<% end %>

    </div>
        <div class="tab-pane" id="sms">
            <h1>SMS</h1>
              <%= form_for @txtalert, :html => { :class => 'form-horizontal' } do |f| %>
                <div class="control-group">
                  <%= f.label :time_alert, :class => 'control-label' %>
                  <div class="controls">
                    <div id="txtdatepicker"></div><br>
                  <%= f.text_field :time_alert, :id => 'txtdatepicker_value' %>
                  </div>
                </div>
                <div class="control-group">
                  <%= f.label :contents, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_area :contents, :class => 'text_field' %>
                  </div>
                </div>
                <div class="control-group">
                  <%= f.label :to_sms, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :to_sms, :class => 'text_field' %>
                  </div>
                </div>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.hidden_field :msg_sent, :value => 'f' %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-success btn-large butmain' %>
    </div>
<% end %>
        </div>
    </div>
</div>
 
 
  
</div> <!-- container -->
 
<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
</body>

<% else %>
  <h1> You must be signed in to view this page </h1>
  <%= link_to 'Sign Up / Sign In!', "users/sign_up" %>
<% end %>