<% if user_signed_in? %>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

<%= javascript_include_tag "selectize" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon" %>
<%= javascript_include_tag "jquery-ui-sliderAccess" %>




<script type="text/javascript">
$().ready(function() {

$("#datepicker2").datetimepicker({
    dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) { 
    $("#datepicker_value").val(dateText);
  }
});
});

</script>
  





            <h1>Add an Alert</h1>
            <br>
            <%= form_for @alert, :html => { :class => 'form-horizontal' } do |f| %>
              
           
              <div class="span5">  
                  <h2> Contents </h2>
                  <%= f.text_area :contents,  :rows => 6, :cols => 73, :class => 'input-block-level' %>
                  <br>



           
               
                  <h2> Recipients </h2>
                  <%= f.text_field :to_email, :class => 'text_field', :id => "input-tags" %> <br>
         

                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :msg_sent, :value => 'f' %>
                </div>

                <div class="span4 offset1"> 
                <h2> Date/Time </h2>
                  <div id="datepicker2"></div><br>
                  <%= f.text_field :time_alert, :id => 'datepicker_value', :readonly => true %>
                </div> 

           <div class="span9 offset1 "> 
    <%= f.submit nil, :class => 'btn btn-inverse btn-large butmain' %>
    </div>
   
<% end %>
      

<% else %>
  <h1> You must be signed in to view this page </h1>
  <%= link_to 'Sign Up / Sign In!', "users/sign_up" %>
<% end %>

<script type="text/javascript">
        $('#input-tags').selectize({
          plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            create: function(input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
 </script>

 <script type="text/javascript">
$().ready(function() {

$("#datepicker2").datetimepicker({
    dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) { 
    $("#datepicker_value").val(dateText);
  }
});
});
