<% if user_signed_in? %>
<body>

<div class="container">
 
<!-------->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();

        $('#time_alert').datetimepicker({
  timeFormat: 'HH:mm z',
  timezone: 'MT',
  timezoneList: [ 
      { value: 'ET', label: 'Eastern'}, 
      { value: 'CT', label: 'Central' }, 
      { value: 'MT', label: 'Mountain' }, 
      { value: 'PT', label: 'Pacific' } 
    ]
});
        });
</script> 

<script type="text/javascript">
$().ready(function() {

$("#datepicker").datetimepicker({
    dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) { 
    $("#datepicker_value").val(dateText);
  }
});
});

$().ready(function() {

$("#txtdatepicker").datetimepicker({
      dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) { 
    $("#txtdatepicker_value").val(dateText);
  }
});

});
</script>
            <h1>Add an Alert</h1>
            <%= form_for @alert, :html => { :class => 'form-horizontal' } do |f| %>
              <div class="control-group">
                <div class="controls">
                  
                  <%= f.text_field :time_alert, :id => 'datepicker_value', :readonly => true %>
                  <div id="datepicker"></div><br>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :contents, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :contents, :cols => "2", :rows => "4", :class => 'text_field' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label "To", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :to_email, :class => 'text_field' %>
                </div>
              </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :msg_sent, :value => 'f' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success btn-large butmain' %>
  </div>
<% end %>
      

<% else %>
  <h1> You must be signed in to view this page </h1>
  <%= link_to 'Sign Up / Sign In!', "users/sign_up" %>
<% end %>