<% if @alerts_false.size != 0 || @alerts_true.size != 0  %>

<%- model_class = Manage-%>

<% if @alerts_false.size != 0 || @txtalerts_false.size != 0 %>
<h2 class="fancy">Unsent Alerts</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h2 class="fancy">Info</h2></th>
        <th><h2 class="fancy"></h2></th>
      </tr>
    </thead>
    <tbody>
      <% @alerts_false.each do |alert| %>
         <tr>
          <td>
          <h4> Time Sent: </h4>
           <span class="blacktext"> <%= alert.time_alert %> </span>
         <h4>To: </h4>
         <span class="blacktext">
          <% @reciplist = alert.to_email.split(",").map(&:strip) %>
           <% @reciplist.each do |e| %>
           <%= e %><br> 
           <% end %>
           </span>
          <h4>Contents: </h4> 
         <span class="blacktext"> <%= simple_format word_wrap(alert.contents, :line_width => 80)%> </span>
          </td>

          <td>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        alert_path(alert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-inverse' %>
                        <br>
                        <br>  
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_alert_path(alert), :class => 'btn btn-inverse' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% if @alerts_true.size != 0 %>
 <h2 class="fancy">Sent Alerts</h2>
  <table class="table table-striped">
    <thead>
      <tr>
       

      </tr>
    </thead>
    <tbody>
      <% @alerts_true.each do |alert| %>
         <tr>
          <td>
          <h4> Time Sent: </h4>
           <span class="blacktext"> <%= alert.time_alert %> </span>
         <h4>To: </h4>
         <span class="blacktext">
          <% @reciplist = alert.to_email.split(",").map(&:strip) %>
           <% @reciplist.each do |e| %>
           <%= e %><br> 
           <% end %>
           </span>
          <h4>Contents: </h4> 
         <span class="blacktext"> <%= simple_format word_wrap(alert.contents, :line_width => 80)%> </span> <br>
         <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        alert_path(alert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-inverse' %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% else %>
  <h1>You have no alerts</h1>
  <br>
  <div>
 <%= link_to '<i class="icon-white icon-th-list"></i> Add Alert'.html_safe, "addalert", :class => "btn btn-inverse btn-large butmain" %>  
</div>
<% end %>