<h1>Listing alerts</h1>


<table>
  <thead>
    <tr>
      <th>Time alert</th>
      <th>Contents</th>
      <th>To email</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.time_alert %></td>
        <td><%= alert.contents %></td>
        <td><%= alert.to_email %></td>
        <td><%= alert.user_id %></td>
        <td><%= link_to 'Show', alert %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert', new_alert_path %>
