<!DOCTYPE html>
<html>
<head>
  <title>Introuble</title>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert%></p>
  

<%= yield %>

</body>
</html>
